<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile Page</title>
    <link rel="stylesheet" href="/app.css" />
  </head>

  <body>
    <h1>Lists Index Page</h1>
    <nav><a href="/lists/new">Create a new List</a>
    </nav>
    <ul>
        <% for(let i=0; i<lists.length; i++) { %>
            <br /> <br />
            <li>
                Store Name: <%=lists[i].storename%> 
			</li>
            <br />
            <li>
                Store items: <%=lists[i].items%>   
			</li>
            <li>
            <a href="/lists/<%= lists[i].id %>">Show Me</a>
        </li>
			<form action="/lists/<%= lists[i].id %>?_method=DELETE" method='POST'>
					<input type="submit" value="Delete">
			</form>
			<a href="/lists/<%= lists[i].id %>/edit">Edit</a>
		<% } %>
	
    </ul>
   
    <a href="/">Back to Homepage</a>
  </body>
</html>