<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile Page</title>
    <link rel="stylesheet" href="/app.css" />
  </head>

  <body>
    <h1><%= user.name %>'s List Page</h1>

    <form action="/users/profile/<%=user.id%>?_method=PUT" method="POST">
      Name: <input type="text" name="name" value="<%=user.name%>" /><br />
      <br />
      Item name:
      <input type="text" name="itemName" value="<%=item.itemname%>" />
      <br />
      <br />
      Item Category:
      <input type="text" name="itemCategory" value="<%=item.category%>" /><br />
      <br />
      Item Quantity:
      <input type="text" name="itemCategory" value="<%=item.category%>" /><br />
      <br />

      <input type="submit" value="Delete item" />
    </form>
    <br />
    <form action="/item/<%= item.id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete Item" />
    </form>

    <br /><br />
    <a href="/">Back to Homepage</a>
  </body>
</html>